/**{*/
/*    margin: 0;*/
/*    background: #041349;*/
/*}*/

/*.main-container{*/
/*    padding: 5% 15%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*!*MAIN TITLE SECTION*!*/
/*.title-section{*/
/*    display: flex;*/
/*}*/

/*.title-image{*/
/*    width: 342px;*/
/*    height: 330px;*/
/*}*/

/*.title{*/
/*    padding-top: 100px;*/
/*}*/

/*h1{*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 80px;*/
/*    line-height: 100%;*/
/*    color: white;*/
/*}*/

/*h2{*/
/*    font-style: normal;*/
/*    font-weight: 650;*/
/*    font-size: 40px;*/
/*    line-height: 28px;*/
/*    color: white;*/
/*}*/

/*h3{*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 15px;*/
/*    line-height: 28px;*/
/*    color: white;*/
/*    padding-top: 5px;*/
/*}*/

/*!*!*UPLOAD SECTION*!*!*/

/*.rectangle-outer{*/
/*    margin-top: 25px;*/
/*    padding: 2% 2%;*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background: linear-gradient(282.62deg, #A8D8D8 -5.67%, #8E8EDB 105.1%);*/
/*    border-radius: 20px;*/
/*}*/

/*.rectangle-inner{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 7% 0;*/
/*    background: #CCCBCD;*/
/*    border-radius: 20px;*/
/*}*/

/*.loading-container{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background: #CCCBCD;*/
/*}*/

/*.loading-message{*/
/*    padding-bottom: 10px;*/
/*    font-size: 20px;*/
/*    text-align: center;*/
/*    background: #CCCBCD;*/
/*}*/

/*.prompt-container{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background: #CCCBCD;*/
/*    padding-bottom: 10px;*/
/*}*/

/*.prompt{*/
/*    padding: 0 1%;*/
/*    height: 40px;*/
/*    left: 580px;*/
/*    right: 580px;*/
/*    top: 477px;*/
/*    background: rgba(255, 255, 255, 0.002);*/
/*    border: 2px solid #3C397E;*/
/*    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);*/
/*    border-radius: 14px;*/
/*}*/

/*.button{*/
/*    width: 150px;*/
/*    height: 30px;*/
/*    left: calc(50% - 255px/2 - 224.5px);*/
/*    top: 563px;*/
/*    color: white;*/
/*    font-weight: 500;*/
/*    background: #8184E3;*/
/*    !* shadow/neutral/lg *!*/
/*    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);*/
/*    border-radius: 12px;*/
/*}*/

/*.buttonContainer{*/
/*    width: fit-content;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    margin: 2rem;*/
/*    height: fit-content;*/
/*}*/
/*.bigdaddy {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*THEME SECTION*/

/*.theme-section{*/
/*    padding: 6% 0;*/
/*}*/

:root {
    font-family: "normal";
    font-weight: 1000;

    --primary-800: #041349;
    --primary-400: #8184E3;
    --primary-300: #dadada;
    --primary-100: white;
}

*{
    margin: 0;

}

body {
    padding: 1rem 7rem;
    background: var(--primary-800);
}

h1{
    font-weight: 700;
    font-size: 5rem;
    line-height: 100%;
    color: var(--primary-100);
}

h2{
    font-weight: 650;
    font-size: 40px;
    line-height: 28px;
    color: var(--primary-100);
}

h3{
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: var(--primary-100);
}

p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    color: black;
}

label{
    font-weight: 450;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-300);
}

img{
    width: 54rem;
    height: 33  rem;
    object-fit: contain;
}

.main-container{
    display: flex;
    padding: 0rem;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.upload-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.theme-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 3rem;
}

.title-image{
    width: 20rem;
    height: 20rem;
}

.rectangle-outer{
    margin-top: 25px;
    width: 54rem;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    justify-content: center;
    background: linear-gradient(282.62deg, #A8D8D8 -5.67%, #8E8EDB 105.1%);
    border-radius: 20px;
}

.rectangle-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--primary-300);
    border-radius: 20px;
}

.upload{
    gap: 1rem;
}
.loading{
    padding-top: 2rem;
}

.theme-section button {
    background: var(--primary-100);
}

.choose-template-button {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: flex-end;
}

.choose-template-button button {
    margin-left: auto;
    color: white;
    background-color: var(--primary-400);
}

.prompt-container {
    color: var(--primary-100);
}

.button{
    width: 150px;
    height: 30px;
    color: white;
    font-weight: 500;
    background: var(--primary-400);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.select-button-container{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-w-md{
    background-color:#041349;
}

.loading-message{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: grey;
}

.download-container{
    display: flex;
    align-items: center;
    padding-top: 3.3rem;
    justify-content: center;
}